
{% extends "layout.twig" %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Rooms
    <small>{{ title | default('') }}</small>
  </h1>
  
</section>

<!-- Main content -->
<section class="content">
	
	
	<div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Add Room</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->

        <form class="form-horizontal" method="post" action="{{ path('rooms.store', { id : id }) }}">

          <div class="box-body">

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
			{% for lang in availableLangs %}
				<li role="presentation" class="{% if lang.is_default == 1 %} active{% endif %}">
					<a href="#lang-{{ lang.id }}" aria-controls="home" role="tab" data-toggle="tab">
						<span class="flag-icon flag-icon-{{ lang.flag | lower }}"></span>
						{{ lang.name | upper }}
					</a>
				</li>
			{% endfor %}
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
			{% for lang in availableLangs %}
				<div role="tabpanel" class="tab-pane fade in {% if lang.is_default == 1 %} active{% endif %}" id="lang-{{ lang.id }}">
					<br>
					<div class="form-group {% if validations and validations["multilang"][lang.id]["room-category"] %} has-error{% endif %}">
		              <label for="inputEmail3" class="col-sm-2 control-label">Category</label>
		              <div class="col-sm-10">
		                <input type="text" class="form-control" id="room_name" name="multilang[{{ lang.id }}][room-category]" placeholder="" value="{{ form['multilang'][lang.id]['room-category'] | default('') }}">
		                {% if validations and validations["multilang"][lang.id]["room-category"] %}
			                <div class="help-inline">
			                	<p>
								{{ validations["multilang"][lang.id]["room-category"] }}
								</p>
			                </div>
		            	{% endif %}
		              </div>
		            </div>
		            <div class="form-group {% if validations and validations["multilang"][lang.id]["room-description"] %} has-error{% endif %}">
		              <label for="inputPassword3" class="col-sm-2 control-label">Description</label>

		              <div class="col-sm-10">
		                <textarea class="form-control bs-editor" id="" placeholder="" name="multilang[{{ lang.id }}][room-description]">{{ form['multilang'][lang.id]['room-description'] | default('') }}</textarea>
		                {% if validations and validations["multilang"][lang.id]["room-description"] %}
			                <div class="help-inline">
			                	<p>
								{{ validations["multilang"][lang.id]["room-description"] }}
								</p>
			                </div>
		            	{% endif %}
		              </div>
		            </div>
				</div>
			{% endfor %}
			</div>

            <hr>

            <div class="form-group {% if validations and validations["adults"] %} has-error{% endif %}">
              <label for="inputPassword3" class="col-sm-2 control-label">Adults</label>

              <div class="col-sm-10">
                <input type="number" class="form-control" name="adults" value="{{ form['adults'] | default(0) }}">
                {% if validations and validations["adults"] %}
	                <div class="help-inline">
	                	<p>
						{{ validations["adults"] }}
						</p>
	                </div>
            	{% endif %}
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">Children</label>

              <div class="col-sm-10">
                <input type="number" class="form-control" name="childrens" value="{{ form['childrens'] | default(0) }}">
              </div>
            </div>

            <div class="form-group {% if validations and validations["count"] %} has-error{% endif %}">
              <label for="inputPassword3" class="col-sm-2 control-label">Room Count</label>

              <div class="col-sm-10">
                <input type="number" class="form-control" name="count" value="{{ form['count'] | default(0) }}">
                {% if validations and validations["count"] %}
	                <div class="help-inline">
	                	<p>
						{{ validations["count"] }}
						</p>
	                </div>
            	{% endif %}
              </div>

            </div>

          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <a href="{{ path('rooms.index') }}" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
            <button type="submit" class="btn btn-default pull-right"><i class="fa fa-save"></i> Save</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>

</section>
<!-- /.content -->
{% endblock %}

{% block styles %}

    <link href="{{ asset('bower_components/flag-icon-css/css/flag-icon.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bower_components/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{{ asset('assets/plugins/bootbox/bootbox.min.js') }}"></script>
	<script type="text/javascript">
		$(function(){
			$('body').on(
				'click',
				'[data-toggle="file-manager"]',
				function(event){
					event.preventDefault();
					//console.log('click it');
					dataSrc = $(this).data('field');
					bootbox.dialog({
						size: 'large',
						/**
					   * @required String|Element
					   */
					  message: "<iframe src=\"/filemanager/dialog.php?type=0&field_id=" + dataSrc + "\" width=\"100%\" height=\"500px\" frameborder=\"0\"></iframe>",
					  
					  /**
					   * @optional String|Element
					   * adds a header to the dialog and places this text in an h4
					   */
					  title: "File Manager",
					  
					  /**
					   * @optional Function
					   * allows the user to dismisss the dialog by hitting ESC, which
					   * will invoke this function
					   */
					  onEscape: function() {},
					  
					  /**
					   * @optional Boolean
					   * @default: true
					   * whether the dialog should be shown immediately
					   */
					  show: true,
					  
					  /**
					   * @optional Boolean
					   * @default: true
					   * whether the dialog should be have a backdrop or not
					   */
					  backdrop: true,
					  
					  /**
					   * @optional Boolean
					   * @default: true
					   * show a close button
					   */
					  closeButton: true,
					  
					  /**
					   * @optional Boolean
					   * @default: true
					   * animate the dialog in and out (not supported in < IE 10)
					   */
					  animate: true,
					  
					  /**
					   * @optional String
					   * @default: null
					   * an additional class to apply to the dialog wrapper
					   */
					  className: "my-modal"
					}
				);/*"File Manager", function(result) {
					  result.show("hola <iframe src=\"/filemanager/dialog.php?type=0\" width=\"100%\" height=\"100%\"></iframe>");
					});*/

				}
			);

			
				$('body').on('change', '#room-image', function(event) {
					event.preventDefault();
					$('#room-image').parent().append('<img class="thumbnail" src="' + event.data.message.url + '">;');
					//alert('here');

				});
			

			//fetch multilang data
			//
			

			//fillMultilang(multilang);

		}); //end on ready


		window.addEventListener("message", receiveMessage, false);

		function receiveMessage(event) {
		  var origin = event.origin || event.originalEvent.origin; // For Chrome, the origin property is in the event.originalEvent object.
		  if (origin !== "http://originalbooking.dev")
		    return;

			var close = event.data.message.close || false;

			var element = $('#' + event.data.message.field) || $('.' + event.data.message.field);

			var url = event.data.message.url;

			//console.log(event.data.message);

			element.val(url);

			//console.log(element);
		  	//show the image
		  	element.parent().find('img').remove().end().append('<img style="max-height:100px;" class="thumbnail" src="' + event.data.message.url + '">');
		  	$('#room-image').closest('[data-toggle="file-delete"]').removeClass('hide');

			//if the message send the instruction of close, we close and the modal(all of them);
		  	if(close){
		  		bootbox.hideAll()
		  	}
		  	
		  	
		}

		function responsive_filemanager_callback(field_id){
			//console.log(field_id);
			var url=jQuery('#' + field_id).val();
			//alert('update '+field_id+" with "+url);
			//your code
			
			var element = $('#' + field_id);

			//console.log(element);
		  	//show the image
		  	element.parent().find('img').remove().end().append('<img style="max-height:100px;" class="thumbnail" src="' + url + '">');
		  	$('button[data-toggle="file-delete"]').removeClass('hide');
			
		}

	</script>
	<script src="{{ asset('bower_components/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
		<script>
		  $(function () {
		    //bootstrap WYSIHTML5 - text editor
		    $(".bs-editor").wysihtml5();
		  });
		</script>
{% endblock %}