
{% extends "layout.twig" %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {{ title | default('Dashboard') }}
    <small>{{ subtitle | default('') }}</small>
  </h1>
  
</section>

<!-- Main content -->
<section class="content">
	
	
	<div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Room Categories</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
	        
	        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
				<table id="langs" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
		            <thead>
		            	<tr role="row">
		            		<th>Category</th>
		            		<th>Adults</th>
		            		<th>Childrens</th>
		            		<th>Stock</th>
		            		<th>Options</th>
		            	</tr>
		            </thead>
					{% if rooms %}
					<tbody>
						{% for room in rooms %}
						
		                <tr>
		                  <td>{{ room.category }}</td>
		                  <td>{{ room.adults }}</td>
		                  <td>{{ room.childrens }}</td>
		                  <td>{{ room.count }}</td>
		                  <td>
		                  	<div class="btn-group" role="group" aria-label="...">
							  <a href="{{ path('rooms.show', {id: room.id}) }}" class="btn btn-default btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
		                  </td>
		                </tr>
		            	
						{% endfor %}
					</tbody>
					{% endif %}
		        </table>
		    </div>
    	</div>
    	<div class="box-footer">
    		<a class="btn btn-default" href="{{ path('rooms.show', {id : 0}) }}"><i class="fa fa-plus"></i> Add Room</a>
    	</div>
    </div>

</section>
<!-- /.content -->
{% endblock %}

{% block styles %}
	<!-- DataTables -->
  	<link rel="stylesheet" href="{{ asset('bower_components/AdminLTE/plugins/datatables/dataTables.bootstrap.css') }}">
  	<link href="{{ asset('bower_components/flag-icon-css/css/flag-icon.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
	<!-- DataTables -->
	<script src="{{ asset('bower_components/AdminLTE/plugins/datatables/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('bower_components/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
	<script src="{{ asset('bower_components/numeral/min/numeral.min.js') }}"></script>
	

	<!-- page script -->
	<script>
	  $(function () {
	    $("#langs").DataTable({
	    	"order": []
	    });

	    $('.price').each(function(){
	    	var price = new numeral($(this).text());
	    	$(this).text(price.format('0,0.00'));
	    });
	  });
	</script>

{% endblock %}