{% extends "layout.twig" %}
{% block scripts %}
		<script>console.log('cargo')</script>
{% endblock %}

{% block style %}
   <style>
   body{
     background:#000;
   }
   /* JLO */
   </style>
{% endblock %}


{% block content %}
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
	
	<section class="content">
      <!-- Small boxes (Stat box) -->
      

    </section>

{% endblock %}

