{% macro menuItem(name, url, icon, subitems) %}
    {% spaceless %}
        {% set isActive = false %}
        {% set subitems = subitems|default({}) %}
        {% set currentUrl = path(app.request_stack.getCurrentRequest.attributes.get('_route'), app.request_stack.getCurrentRequest.attributes.get('_route_params')) %}
        
        {% set isActive = currentUrl == url %}

        {% for name, suburl in subitems %}
            {% if isActive == false %}
              {% set isActive = currentUrl == suburl %}
            {% endif %}
        {% endfor %}
        <li class="{% if isActive %} active{% endif %}{% if subitems|length > 0 %} treeview{% endif %}" data-useless="{{ currentUrl }} - {{url}}">
          <a href="{{ url }}">
            {% if icon %}<i class="fa {{ icon }}"></i>{% endif %} <span>{{ name }}</span>
            {% if subitems|length > 0 %}
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            {% endif %}
          </a>
          {% if subitems|length > 0 %}
            <ul class="treeview-menu {% if isActive %} menu-open{% endif %}">
              {% for subitem in subitems %}
                  {{ _self.menuItem(subitem.name, subitem.path, 'fa-circle-o') }}
              {% endfor %}
            </ul>
          {% endif %}
        </li>
    {% endspaceless %}
{% endmacro %}