
{% extends "layout.twig" %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Languages
    <small>{{ title | default('') }}</small>
  </h1>
  
</section>

<!-- Main content -->
<section class="content">
	
	
	<div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Add Language</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->

        <form class="form-horizontal" method="post" action="{{ path('langs.showLang', { id : id }) }}">
          <div class="box-body">
			
			
        	{% if alerts and alerts.type %}
	        	
	        	<div class="alert alert-{{ alerts.type }} fade in">
	          		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	          		<p>{{ alerts.message }}</p>
	          	</div>
			
	          	
			{% endif %}  	

            <div class="form-group {% if validations and validations["lang-label"] %} has-error{% endif %}">
              <label for="lang-label" class="col-sm-2 control-label">Name</label>

              <div class="col-sm-10">
                <input type="text" class="form-control" id="lang-label" name="lang-label" placeholder="English" value="{{ form['lang-label'] | default('') }}">
                {% if validations and validations["lang-label"] %}
	                <div class="help-inline">
	                	<p>
						          {{ validations["lang-label"] }}
						        </p>
	                </div>
            	{% endif %}
              </div>
            </div>

            <div class="form-group {% if validations and validations["lang-iso"] %} has-error{% endif %}">
              <label for="lang-iso" class="col-sm-2 control-label">ISO</label>

              <div class="col-sm-10">
                <input type="text" class="form-control" id="lang-iso" name="lang-iso" placeholder="en-US" value="{{ form['lang-iso'] | default('') }}">
                {% if validations and validations["lang-iso"] %}
                  <div class="help-inline">
                    <p>
                      {{ validations["lang-iso"] }}
                    </p>
                  </div>
              {% endif %}
              </div>
            </div>
            
            <div class="form-group">
            	<label for="inputPassword3" class="col-sm-2 control-label">Flag</label>
              	<div class="col-sm-10">
	            	
      					  <select name="lang-flag" data-selected="{{ form['lang-flag'] | default('') | upper }}" id="flag" class="form-control select2">
      					  	{% include 'partials/countries.options.html.twig' %}
      					  </select>
      					
      				  </div>
            </div>

            <div class="form-group">
            	<label for="inputPassword3" class="col-sm-2 control-label">¿Default?</label>
              	<div class="col-sm-10">
        					<input type="checkbox" name="lang-default" value="1" {% if form and form['lang-default'] == 1 %}checked{%endif%}>
        				</div>
            </div>

          </div>
          <!-- /.box-body -->
          <div class="box-footer">
          	<a href="{{ path('langs.index') }}" class="btn btn-default"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</a>
          	<div class="btn-group pull-right">
            	
            	<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> {% if id > 0 %}Update{% else %}Save{% endif %}</button> 
          	</div>
          	
          </div>
          <!-- /.box-footer -->
        </form>
      </div>

</section>
<!-- /.content -->
{% endblock %}

{% block styles %}
	<!-- Select2 -->
  	<link rel="stylesheet" href="{{ asset('bower_components/AdminLTE/plugins/select2/select2.min.css')}}">

    <link href="{{ asset('bower_components/flag-icon-css/css/flag-icon.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
	<!-- Select2 -->
	<script src="{{ asset('bower_components/AdminLTE/plugins/select2/select2.full.min.js')}}"></script>
	<script type="text/javascript">
		function formatOption (flag) {
			if (!flag.id) { return flag.text; }
			var $flag = $(
				'<span class="flag-icon flag-icon-' + flag.element.value.toLowerCase() + '"></span> <span>' + flag.text + '</span>'
			);
			return $flag;
		};

    function formatOptionSelected (flag) {
      if (!flag.id) { return flag.text; }
      var $flag = $(
        '<span class="flag-icon flag-icon-' + flag.element.value.toLowerCase() + '"></span>'
      );
      return $flag;
    };


		$(function(){
			$("#flag").select2({
				templateResult: formatOption,
				templateSelection: formatOptionSelected
			});

      //preselect option in select2
      $selects = $('select[data-selected]').each(function(){
        var $toSelect = $(this).data('selected');
        console.log($toSelect);
        if($toSelect != ''){
          $(this).find('option[value="' + $toSelect + '"]').attr('selected', 'selected').trigger('change');
        }
      });

		});
	</script>
{% endblock %}