
{% extends "layout.twig" %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Languages
    <small>{{ title | default('') }}</small>
  </h1>
  
</section>

<!-- Main content -->
<section class="content">
	
	
	<div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Delete Language</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->

        <form class="form-horizontal" method="post" action="{{ path('langs.deleteLang', { id : id, step: 2 }) }}">
          <div class="box-body">
			
            <div class="row">
              <div class="col-sm-12">
                {% if deletable == true %}
                <h2>Are you sure that you want to permanently delete the selected element?</h2>
                <p>
                  A cascade operation will be executed and all dependents rows will be also deleted.
                </p>
                {% else %}
                <h2>This is the default languages and can not be deleted.</h2>
                {% endif %}
              </div>
            </div>
            

          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <a href="{{ path('langs.index') }}" class="btn btn-default"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</a>
            {% if deletable == true %}
          	<div class="btn-group pull-right">
              <input type="hidden" name="csfr" value="{{ csfr | default('') }}">	
            	<button type="submit" class="btn btn-primary">Save</button> 
          	</div>
            {% endif %}
            
          </div>
          <!-- /.box-footer -->
        </form>
      </div>

</section>
<!-- /.content -->
{% endblock %}

{% block styles %}
	<!-- Select2 -->
  	<link rel="stylesheet" href="{{ asset('bower_components/AdminLTE/plugins/select2/select2.min.css')}}">

    <link href="{{ asset('bower_components/flag-icon-css/css/flag-icon.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
	<!-- Select2 -->
	<script src="{{ asset('bower_components/AdminLTE/plugins/select2/select2.full.min.js')}}"></script>
	<script type="text/javascript">
		function formatOption (flag) {
			if (!flag.id) { return flag.text; }
			var $flag = $(
				'<span class="flag-icon flag-icon-' + flag.element.value.toLowerCase() + '"></span> <span>' + flag.text + '</span>'
			);
			return $flag;
		};

    function formatOptionSelected (flag) {
      if (!flag.id) { return flag.text; }
      var $flag = $(
        '<span class="flag-icon flag-icon-' + flag.element.value.toLowerCase() + '"></span>'
      );
      return $flag;
    };


		$(function(){
			$("#flag").select2({
				templateResult: formatOption,
				templateSelection: formatOptionSelected
			});

      //preselect option in select2
      $selects = $('select[data-selected]').each(function(){
        var $toSelect = $(this).data('selected');
        
        if($toSelect != ''){
          $(this).find('option[value="' + $toSelect + '"]').attr('selected', 'selected').trigger('change');
        }
        
      });

		});
	</script>
{% endblock %}