{% extends "layout.twig" %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {{ title | default('Dashboard') }}
    <small>{{ subtitle | default('') }}</small>
  </h1>
  
</section>

<!-- Main content -->
<section class="content">
	
	
	<div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">{{ 'List'|trans }}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
	        
	        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
				<table id="langs" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
		            <thead>
		            	<tr role="row">
		            		<th>Language</th>
		            		<th>Default?</th>
		            		<th>Options</th>
		            	</tr>
		            </thead>
		    	
					{% if langs %}
					<tbody>
						{% for lang in langs %}
						
		                <tr>
		                  <td><span class="flag-icon flag-icon-{{ lang.flag | lower }}"></span> {{ lang.name }}</td>
		                  <td><i class="fa fa-{% if lang.is_default == 0 %}times{%else%}check{%endif%}"></i></td>
		                  <td>
		                  	<div class="btn-group" role="group" aria-label="...">
							  <a href="{{ path('langs.saveLang', {id: lang.id}) }}" class="btn btn-default btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
							  <a href="{{ path('langs.deleteLang', {id : lang.id, step : 1}) }}" class="btn btn-default btn-sm" {% if lang.is_default == 0 %} data-toggle="delete" data-id="{{ lang.id }}" {%else%}disabled{%endif%} ><i class="fa fa-trash"></i></a>
							</div>
		                  </td>
		                </tr>
		            	
						{% endfor %}
					</tbody>
					{% endif %}
		        </table>
		    </div>
    	</div>
    	<div class="box-footer">
    		<a class="btn btn-default" href="{{ path('langs.saveLang', {id : 0}) }}"><i class="fa fa-plus"></i> Add Language</a>
    	</div>
    </div>

</section>
<!-- /.content -->
{% endblock %}

{% block styles %}
	<!-- DataTables -->
  	<link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">
  	<link href="{{ asset('bower_components/flag-icon-css/css/flag-icon.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
	<!-- DataTables -->
	<script src="{{ asset('bower_components/AdminLTE/plugins/datatables/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('bower_components/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
	

	<!-- page script -->
	<script>
	  $(function () {
	    $("#langs").DataTable();
	  });
	</script>
{% endblock %}